<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>Insert title here</title>

</head>

<body>

   <form action="${rc.contextPath}/user/save" method="post">

    <input type="hidden" name="id" value="$!u.id ">

    UserName:<input type="text" name="userName" value="$!u.userName"/><br>

    Password:<input type="text" name="password" value="$!u.password"/><br>

    Age:<input type="text" name="age" value="$!u.age"/><br>

    <input type="submit" value="Submit"/><br>

  </form>

</body>

</html>