<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
            <title>
                登录
            </title>
            <link href="../../css/bootstrap.min.css" rel="stylesheet"/>
            <link href="../../css/base.css" rel="stylesheet"/>
            <link href="../../css/common/header.css" rel="stylesheet"/>
        </meta>
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        后台管理
                    </a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                个人中心
                                <b class="caret">
                                </b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        个人资料
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        资料修改
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        密码修改
                                    </a>
                                </li>
                               
                                </li>
                                <li>
                                    <a href="#">
                                        我的权限
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                用户中心
                                <b class="caret">
                                </b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        用户列表
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        在线用户
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                权限管理
                                <b class="caret">
                                </b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        权限列表
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        权限分配
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                角色管理
                                <b class="caret">
                                </b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        角色列表
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        角色分配
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav  pull-right" >
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                管理员
                                <b class="caret">
                                </b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        个人资料
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        我的权限
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        退出登录
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                    </ul> 
                </div>
            </div>
        </nav>
        <script src="../../js/jquery-3.1.1.min.js">
        </script>
        <script src="../../js/bootstrap.min.js">
        </script>
    </body>
</html>