<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
            <title>
                登录
            </title>
            <link href="../../css/bootstrap.min.css" rel="stylesheet"/>
            <link href="../../css/base.css" rel="stylesheet"/>
            <link href="../../css/common/footer.css" rel="stylesheet"/>
        </meta>
    </head>
    <body>
        <div class="list-group">
            <a class="list-group-item active" href="#">
                <h4 class="list-group-item-heading">
                    个人资料
                </h4>
            </a>
            <a class="list-group-item" href="#">
                <h4 class="list-group-item-heading">
                    资料修改
                </h4>
            </a>
            <a class="list-group-item" href="#">
                <h4 class="list-group-item-heading">
                    密码修改
                </h4>
            </a>
        </div>
        <div class="list-group">
            <a class="list-group-item active" href="#">
                <h4 class="list-group-item-heading">
                    我的权限
                </h4>
            </a>
        </div>
        <script src="../../js/jquery-3.1.1.min.js">
        </script>
        <script src="../../js/bootstrap.min.js">
        </script>
    </body>
</html>